[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pyspark = "*"
pandas = "*"
numpy = "*"
hyperopt = "*"
scikit-learn = "*"
lightgbm = "*"
imblearn = "*"
mlflow = "*"
scikit-plot = "*"
matplotlib = "*"
seaborn = "*"
shap = "*"

[requires]
python_version = "3.7"
